
/* import font fonts.css file*/
@import url(./fonts.css);

/* css variable */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 1rem 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.5rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* Banner Area */

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 1rem 0;
    width: 40rem;
    height: 40rem;
}

/* End Banner Area */

/* Start About Area */

.about-image > img{
    padding: 5rem 5rem 1rem 0;
    width: 40rem;
    height: 40rem;
}

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title > p{
    padding: .4rem 0;
}

/* End About Area */

/* Start Brand Area */

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 5rem 5rem 5rem 5rem;
    margin: 0rem 0;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > svg{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > svg{
    filter: brightness(0.15);
}

/* End Brand Area */

/* Projects Area */

.site-main .projects-area{
    padding: 7rem 2rem;
}

.site-main .projects-area .projects-title .mini-projects-area{
    padding: 10rem 14rem;
}

.site-main .mini-projects-area{
    padding: 10rem 14rem;
}

.site-main .projects-area .projects-title h1{
    font-size: 35px;
}

.site-main > .projects-area .projects{
    background: rgba(248, 252, 253, 0.973);
    padding: 4rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.projects-img > img{
    width: 10rem;
    height: 10rem;
}

.site-main > .projects-area .projects:hover{
    box-shadow: var(--box-shadow);
}

/* End Projects Area */

/* Contact Area */

.header {
    padding: 2rem 20rem;
}

.contact-section {
    padding-top: 3rem;
}

.icon-side {
    align-items: center;
}

.contacts {
    text-align: center;
    transition: 0.6s;
    border-radius: 10px;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.form-text {
    text-decoration: underline;
}

/* Contact Hover Effects */

.source-link {
    background-color: white;
    border-radius: 10px;
    color: black;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
}

.hvr-br {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-br:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3f3d56;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    border-radius: 10px;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-br:hover,
.hvr-br:focus,
.hvr-br:active {
    background: #3f3d56;
}

.hvr-br:hover:before,
.hvr-br:focus:before,
.hvr-br:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
    transition-timing-function: cubic-bezier(0.5, 0, 0.75, 0);
}

.hvr-sl {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: var(--box-shadow);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sl:hover,
.hvr-sl:focus,
.hvr-sl:active {
    color: white;
}

.hvr-sl:hover:before,
.hvr-sl:focus:before,
.hvr-sl:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.link {
    text-decoration: none !important;
}

/* Form Styling */

.form-group {
    border-radius: 10px;
}

.form-control {
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.form-control:focus {
    border-color: #3f3d56;
    box-shadow: var(--box-shadow);
}

/* End Contact Area */
